* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}


.contatos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 30px;
    background-color: #131111;
    color: white;
    user-select: none;
}

header section {
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    background: url(../src/fundo-header.jpg) no-repeat center center / cover;
    filter: brightness(0.6);
}

header input {
    width: 25%;
    height: 28px;
    border-radius: 15px;
}

.logo img {
    width: 40%;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #0B0909;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 6%;
    height: 30px;

}

nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.imgCentral {
    margin: 0 auto;
    height: 69vh;
    overflow: hidden;
}

.slides {
    width: 400px;
    height: 70vh;
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    position: relative;
    box-sizing: border-box;
}

.slide img {
    width: 100rem;
    max-height: 70vh;

}

.slide video {
    position: relative;
    bottom: 10rem;
    width: 100rem;
    max-height: 125vh;

}

.container-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 30px;
    height: 120px;
    background-color: #0B0909;
    color: white;
}

.container-historia a {
    text-decoration: none;
    color: black;
}

#b1 {
    width: 180px;
    height: 30px;
    border-radius: 7px;
    background-color: white;
    color: #0b0909;
    font-weight: 600;
    transition: 0.5s;
}

#b1:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.kosh-destaques {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    background-color: #4e060e;
    color: white;
    background-image: linear-gradient(to right, black 0%, #4e060e 10%, #4e060e 90%, black 100%);
}

.container-destaques {
    background-color: #4e060e;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, black 0%, #4e060e 10%, #4e060e 90%, black 100%);
}

.container-destaques section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 20px;

}

.container-destaques img {
    width: 85%;
    min-height: 60vh;
    border-radius: 15px;
    box-shadow: 0 0 0 1px black;
    transition: 0.5s;
}

.container-destaques img:hover {
    transform: scale(1.1);
    opacity: 60%;

}

.container-destaques .button {
    display: flex;
    justify-content: center;
}

#b2 {
    width: 170px;
    height: 30px;
    border-radius: 7px;
    background-color: white;
    color: #0b0909;
    font-weight: 600;
    user-select: none;
    transition: 0.5s;
}

#b2:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.melhores-empresas {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background-color: #0B0909;
    color: white;
}

.container-empresas {
    background-color: #0B0909;
    padding-bottom: 20px;
}

.container-empresas section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    padding-bottom: 20px;

}

.container-empresas .empresa {
    background: #D9D9D9;
    width: 10vw;
    height: 15vh;
    border-radius: 10px;

}

.container-empresas .button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.container-empresas .linkzap {
    text-decoration: none;
    color: black
}

#b3 {
    width: 170px;
    height: 30px;
    border-radius: 7px;
    background-color: white;
    color: #0b0909;
    font-weight: 600;
    user-select: none;
    transition: 0.5s;
}

#b3:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.footer-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
    height: auto;
    background-color: #4e060e;
    color: white;
    background-image: linear-gradient(to right, black 0%, #4e060e 10%, #4e060e 90%, black 100%);
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imglogo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.imglogo-footer img {
    max-width: 100%;
    height: 70px;
    transition: 0.5s;
}

/*--------------------------------------- PARTE DE ANIMAÇÕES NOSSAS ---------------------------------------------------*/

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}



.right.show {
    transform: translateX(0);
}

.down.show {
    transform: translateY(0);
}

.down {
    transform: translateY(-100%);
}

.right {
    transform: translateX(-100%);
}


/*--------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/


@media screen and (max-width: 780px) {
    .imgCentral {
        margin: 0 auto;
        height: 50vh;
        overflow: hidden;
    }

    .slides {
        width: 400px;
        height: 50vh;
        display: flex;
        transition: transform 1s ease-in-out;
    }

    .slide img {
        width: 48rem;
        min-height: 50vh;

    }

    .slide video {
        bottom: 0;
        width: 48rem;
        min-height: 50vh;

    }

    .container-destaques img {
        width: 85%;
        min-height: 35vh;
        border-radius: 15px;
        box-shadow: 0 0 0 1px black;
        transition: 0.5s;
    }

}

@media screen and (max-width: 426px) {
    .imgCentral {
        margin: 0 auto;
        height: 40vh;
        overflow: hidden;
    }

    .slides {
        width: 400px;
        height: 40vh;
        display: flex;
        transition: transform 1s ease-in-out;
    }

    .slide img {
        width: 30rem;
        min-height: 40vh;

    }

    .slide video {
        bottom: 0;
        width: 30rem;
        min-height: 40vh;
    }

    .container-destaques img {
        width: 85%;
        min-height: 20vh;
        border-radius: 15px;
        box-shadow: 0 0 0 1px black;
        transition: 0.5s;
    }

    .melhores-empresas {
        font-size: small;
    }

    .container-empresas .empresa {
        background: #D9D9D9;
        width: 10vw;
        height: 10vh;
        border-radius: 10px;
    }
}